@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* main {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  }
} */

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

h1 {
  text-align: center;
	font-family: 'Dancing Script';
  color: rgba(136, 0, 248, 0.624);
	font-size: 80px;
}

h3 {
	text-align: center;
	/* font-family: 'Dancing Script', cursive; */
  font-size: 40px;
  color: bisque;
	margin-bottom: 30px;
  width: fit-content;
}

p {
  font-family: 'Open Sans', sans-serif;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.container {
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap; 
}

.container div {
  height: 600px;
  width: 406px;
  background: rgb(49, 38, 38);
  margin: 10px;
  flex: 1;
}

#div1 {
  float: left;
  background-color:rgba(222, 71, 71, 0.409);
}
#div3 {
  float: left;
  background-color:rgba(59, 32, 165, 0.409);
}
#div2 {
  float: left;
  background-color:rgba(145, 145, 4, 0.409);
}

textarea {
  background-color: #0000008d;
}

button {
  font-size: large;
  /* font-family: cursive; */
  padding: 5px;
  background-color: rgba(0, 255, 255, 0.193);
  border-style: groove;
  width: 406px;
  margin: 10px;
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

:root {
  --background-color: black;
  --text-color: hsl(0, 0%, 100%);
}

.wrapper {
  display: grid;
  place-content: center;
  background-color: var(--background-color);
  height: 100vh;
  font-family: "Oswald", sans-serif;
  font-size: clamp(1.5rem, 1rem + 18vw, 15rem);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text-color);
}

.wrapper > div {
  grid-area: 1/1/-1/-1;
}
.top {
  clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
}
.bottom {
  clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
  color: transparent;
  background: -webkit-linear-gradient(177deg, black 53%, var(--text-color) 65%);
  background: linear-gradient(177deg, black 53%, var(--text-color) 65%);
  background-clip: text;
  -webkit-background-clip: text;
  transform: translateX(-0.02em);
}

.scroll-content {
  overflow-y: scroll;
  height: calc(100vh - 50px);
}
